::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}
 
::-webkit-scrollbar-track {
    background: -webkit-linear-gradient(right, #FAFAFA, #D8D8D8);
}

::-webkit-scrollbar-track:horizontal{
    border-right: none;
    background: -webkit-linear-gradient(bottom, #FAFAFA, #D8D8D8);
}

::-webkit-scrollbar-track:vertical{
    border-bottom: none;
}

::-webkit-scrollbar-corner {
    width:0;
    height:0;
    background: -webkit-linear-gradient(right bottom, #FAFAFA, #D8D8D8);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    min-height: 28px;
    border: 1px solid #A4A4A4;
    background: -webkit-linear-gradient(#FAFAFA, #D8D8D8);
}

::-webkit-scrollbar-thumb:hover {
	background: -webkit-linear-gradient(#E6E6E6, #D8D8D8);
}

