::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}
 
::-webkit-scrollbar-track {
	border: 1px solid #2E2E2E;
    background-color: #424242;
}

::-webkit-scrollbar-track:horizontal{
    border-right: none;
    border-left: none;
}

::-webkit-scrollbar-track:vertical{
    border-bottom: none;
    border-top: none;
}

::-webkit-scrollbar-corner {
    width:0;
    height:0;
    background-color: #424242;
    border: 1px solid #2E2E2E;
    border-top: none;
    border-left: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    min-height: 28px;
    border: 1px solid #424242;
    background: -webkit-linear-gradient(left, #FAFAFA, #D8D8D8);
}

::-webkit-scrollbar-thumb:hover {
	background: -webkit-linear-gradient(left, #FAFAFA, #D8D8D8);
}

::-webkit-scrollbar-thumb:horizontal{
    background: -webkit-linear-gradient(top, #FAFAFA, #D8D8D8);
}

::-webkit-scrollbar-thumb:horizontal:hover{
    background: -webkit-linear-gradient(top, #FAFAFA, #D8D8D8);
}