::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}
 
::-webkit-scrollbar-track {
	border: 1px solid #585858;
    background: #424242;
}

::-webkit-scrollbar-corner {
    background: transparent;
    width:0;
    height:0;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    min-height: 28px;
    border: 2px solid #424242;
    background: -webkit-linear-gradient(#FAFAFA, #D8D8D8);
}

::-webkit-scrollbar-thumb:hover {
	background: -webkit-linear-gradient(#E6E6E6, #D8D8D8);
}

body::-webkit-scrollbar-track:horizontal{
	border-right: none;
}

body::-webkit-scrollbar-track:vertical{
	border-bottom: none;
}

body::-webkit-scrollbar-corner {
    background-color: #424242;
    border-bottom: 1px solid #585858;
    border-right: 1px solid #585858;
}
